<form id="spell-level-form">
  <p>Configure how you would like to cast the <strong>{{item.name}}</strong> spell.</p>

  {{#unless canCast}}
  <p class="notification error">You have no available spell slots to cast this spell</p>
  {{/unless}}

  <div class="form-group">
    <label>Cast at Level</label>
    <div class="form-fields">
      <select name="level">
        {{#select item.data.level}}
          {{#each spellLevels as |l|}}
            <option value="{{l.level}}" {{#unless l.canCast}}disabled{{/unless}}>{{l.label}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
</form>
